.photo--preview{
    width: 13vw;
    height: 13vw;
}
.author--name{
    width: auto;
    margin: 0;
    padding: 0.3em 0.3em 0.3em 17px;
    font-family: Wandery, serif;
    font-size: 1.2em;
    font-weight: 400;
}
.buttons{
    margin: auto auto auto 18px;
    width: 140px;
    height: 26px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.button{
    height: 100%;
    width: 80%;
}
