.author--name{
    width: auto;
    height: 14px;
    margin: 0;
    padding: 0.3em 0.3em 0.3em 0.3em;
    text-align: center;
    font-family: Wandery, serif;
    font-size: 1em;
    font-weight: 400;
    grid-column: 1 / 3;
}
.buttons{
    margin: auto auto auto auto;
    width: 130px;
    height: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    gap: 6px;
}
.button{
    height: 114%;
    width: 96%;
}
