.form{
    margin-left: 15px;
    padding-right: 10px;
    padding-top: 4px;
    width: 213px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form input{
    opacity: 0.9;
    width: 132px;
    padding-left: 4px;
}
.form button{
    margin-left: 4px;
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: inherit;
    border-color: transparent;
}
.item--preview{
    display: flex;
    flex-direction: column;
    margin: 8px auto 8px auto;
    max-width: 210px;
    height: 160px;
}
.preview{
    margin:auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: row wrap;
    width: auto;
    gap: 24px;
    overflow-x: auto;
    height: 100%;
}
.preview::before, .preview::after{
    content: '';
    width: 100%;
    order: 1;
}
.author--name{
    margin: 0;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.3em 0.3em 0.3em;
    font-size: 0.85em;
    font-family: Wandery, serif;
    font-weight: 400;
    text-overflow: ellipsis;
}

