.form{
    margin-left: 15px;
    padding-right: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.form input{
    width: 92px;
    padding-left: 4px;
}
.form button{
    margin-left: 4px;
    width: 35px;
    height: 35px;
}
.preview{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 0 auto 0;
    padding-bottom: 20px;
}
.item--preview{
    display: flex;
    flex-direction: column;
    margin: 4px 0 0 0;
    max-width: 210px;
}
.author--name{
    margin: 0;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.7em 0.3em 0.3em 20px;
    font-family: Wandery, serif;
    font-size: 1em;
    font-weight: 400;
    text-overflow: ellipsis;
}
.navigation{
    margin: 30px auto auto 24px;
    padding-right: 16px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
}
.navigation button{
    width: auto;
    height: 35px;
}
@media all and (max-width: 640px){
    .preview{
        width: 96%;
        margin: 0 2% 0 2%;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 160px auto auto;
    }
    .form {
        margin: auto 0 10px 18px;
    }
}
@media all and (max-width: 500px){
    .preview{
        width: 96%;
        margin: 0 2% 0 2%;
        display: grid;
        grid-template-rows: auto auto ;
        grid-template-columns: 160px 50%;
    }
    .form {
        margin: auto 0 10px 18px;
    }
}
@media all and (max-width: 340px){
    .preview{
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-columns: 100%;
        padding-left: 0;
    }
}
