.form{
    margin-left: 15px;
    padding-right: 2.8vw;
    padding-top: 4px;
    width: 213px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.form input{
    opacity: 0.9;
    border-color: #3b3b3b85;
    width: 132px;
    padding-left: 4px;
    border-radius: 8px 0 0 8px;
}
.form button{
    margin-left: 4px;
    width: 35px;
    height: 35px;
    padding: 0;
    background-color: inherit;
    border-color: transparent;
}
.item--preview{
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    width: 210px;
    height: 60px;
}
.preview{
    margin: auto auto -28px auto;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: auto;
    overflow-y: auto;
    gap: 24px;
    overflow-x: auto;
    height: 100%;
    padding: 16px 16px 0 16px;
}
.preview::before, .preview::after{
    content: '';
    width: 100%;
    order: 1;
}
.author--name{
    margin: 0;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 0.3em 0.3em 0.3em;
    font-size: 0.85em;
    font-family: Wandery, serif;
    font-weight: 400;
    text-overflow: ellipsis;
}

