.controls{
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    margin: auto;
}
.nav{
    height: 40px;
    width: 40px;
}
.page--counter{
    margin: auto;
    font-size: 32px;
    font-weight: 600;
}
