.viewer{
    display: flex;
    width: 50%;
}
.image--true{
    object-fit: cover;
    margin: 13px 12px 12px 12px;
    height: 468px;
}
.image--false{
    object-fit: scale-down;
    margin: 13px 12px 12px 12px;
    height: 500px;
}
