.viewer{
    display: flex;
    width: 100%;
}
.image--true{
    width:99%;
    margin: 13px 12px 12px 12px;
    height: max-content;
}
.image--false{
    margin: 13px 12px 12px 12px;
    width: 70%;
}
