header {
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    margin-bottom: 4px;
}
.header--link{
    font-family: GENUINE, monospace ;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 0.137em;
}
.header--link:visited{
    color: #fbffff;
    text-decoration: #282828;

}
/*@media all and (min-width: 400px){
    header {
        margin-bottom: 2vh;
    }
}
@media all and (min-width: 600px){
    header {
        margin-bottom: 3vh;
    }
}
@media all and (min-width: 800px){
    header {
        padding-top: 2vw;
    }
    .header--link{
        font-size: 30px;
    }
}*/
