header {
    min-height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-top: 14px;
    padding-left: 34px;
    margin-bottom: 16px;
}
.header--link{
    font-family: GENUINE, monospace ;
    margin-right: 3.5vw;
    text-decoration: none;
    font-size: 32px;
    letter-spacing: 0.137em;
}
.header--link:visited{
    color: rgba(0, 0, 0, 0.71);
    text-decoration: #282828;
}
#controls{
    display: flex;
    flex-direction: row;
}
@media all and (max-width: 360px){
    header {
        flex-direction: column;
        margin-bottom: 2vh;
    }
}
@media all and (max-width: 740px){
    #controls{
        flex-direction: column;
    }
}/*
@media all and (min-width: 800px){
    header {
        padding-top: 2vw;
    }
    .header--link{
        font-size: 30px;
    }
}*/
