footer {
    background-color: #e3e3e3;
    width: 100%;
    max-height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 0.1vh;
}
.footer--text{
     margin: 0;
     padding: 0.5em 0.5em 0.3em 6vw;
     font-family: Wandery, serif;
     color: #3b3b3b;
     font-size: 1em;
     font-weight: 400;
 }
@media all and (min-width: 600px){
    footer{
        max-height: 6vw;
    }
    .footer--text{
        font-size: 1em;
    }
}
@media all and (min-width: 900px){
    footer{
        max-height: 4vw;
    }
    .footer--text{
        font-size: 1em;
    }
}

