footer {
    background-color: rgba(230, 230, 230, 0.49);
    opacity: 0.8;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.1vh;
    height: 33px;
}
.footer--text{
     margin: 0;
     padding: 0.5em 0.5em 0.3em 6vw;
     font-family: Wandery, serif;
     color: #3b3b3b;
     font-size: 1em;
     font-weight: 400;
 }


