html{

}

@font-face {
  font-family: Yessica-Regular;
  src: url("fonts/Yessica-Regular.otf") format("opentype");
}
@font-face {
  font-family: Potra;
  src: url("fonts/Potra.otf") format("opentype");
}
@font-face {
  font-family: GENUINE;
  src: url("fonts/GENUINE.ttf") format("opentype");
}
@font-face {
  font-family: Wandery;
  src: url("fonts/Wandery.otf") format("opentype");
}
@font-face {
  font-family: Squarified;
  src: url("fonts/Squarified.otf") format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
